In [18]:
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_csv("movies.csv")

In [3]:
df

               title  action  comedy  romance  scifi  drama  year  rating
0          Inception       9       2        1     10      6  2010     8.8
1    The Dark Knight      10       1        2      1      8  2008     9.0
2       Pulp Fiction       7       8        3      0      9  1994     8.9
3       Forrest Gump       2       7        8      0     10  1994     8.8
4         The Matrix      10       2        1     10      5  1999     8.7
..               ...     ...     ...      ...    ...    ...   ...     ...
208            Shrek       5      10        6      0      5  2001     7.9
209          Shrek 2       4      10        5      0      5  2004     7.4
210           Frozen       3       7        7      0      6  2013     7.4
211            Moana       4       7        5      0      7  2016     7.6
212          Tangled       4       8        8      0      6  2010     7.7

[213 rows x 8 columns]

In [5]:
df[df.duplicated()]

Empty DataFrame
Columns: [title, action, comedy, romance, scifi, drama, year, rating]
Index: []

In [6]:
df.info

<bound method DataFrame.info of                title  action  comedy  romance  scifi  drama  year  rating
0          Inception       9       2        1     10      6  2010     8.8
1    The Dark Knight      10       1        2      1      8  2008     9.0
2       Pulp Fiction       7       8        3      0      9  1994     8.9
3       Forrest Gump       2       7        8      0     10  1994     8.8
4         The Matrix      10       2        1     10      5  1999     8.7
..               ...     ...     ...      ...    ...    ...   ...     ...
208            Shrek       5      10        6      0      5  2001     7.9
209          Shrek 2       4      10        5      0      5  2004     7.4
210           Frozen       3       7        7      0      6  2013     7.4
211            Moana       4       7        5      0      7  2016     7.6
212          Tangled       4       8        8      0      6  2010     7.7

[213 rows x 8 columns]>

In [8]:
df.describe()

,action,comedy,romance,scifi,drama,year,rating
count,213.000000,213.000000,213.000000,213.000000,213.000000,213.000000,213.000000
mean,4.671362,5.502347,3.840376,1.882629,6.877934,2005.286385,7.787324
std,3.120984,3.131737,2.948115,3.288104,1.841383,10.129243,0.567749
min,0.000000,0.000000,0.000000,0.000000,2.000000,1972.000000,6.500000
25%,2.000000,3.000000,2.000000,0.000000,6.000000,1999.000000,7.400000
50%,4.000000,5.000000,3.000000,0.000000,7.000000,2007.000000,7.800000
75%,7.000000,8.000000,5.000000,2.000000,8.000000,2013.000000,8.100000
max,10.000000,10.000000,10.000000,10.000000,10.000000,2022.000000,9.300000

_Normalize every values so i can compare them without size interferring_

In [12]:
df.dtypes

title       object
action       int64
comedy       int64
romance      int64
scifi        int64
drama        int64
year         int64
rating     float64
dtype: object

In [9]:
df.action.max()

np.int64(10)

In [16]:
def normalize_minmax(values):
    """
    Normalise un array de valeurs entre 0 et 1
    
    Paramètres:
    values: numpy array ou liste de nombres
    
    Retour:
    numpy array normalisé entre 0 et 1
    """
    return (values - 0) / (10 - 0)

df.action = df.action.apply(normalize_minmax)
df.comedy = df.comedy.apply(normalize_minmax)
df.romance = df.romance.apply(normalize_minmax)
df.scifi = df.scifi.apply(normalize_minmax)
df.drama = df.drama.apply(normalize_minmax)

In [17]:
df

               title  action  comedy  romance  scifi  drama  year  rating
0          Inception    0.09     0.2      0.1    1.0    0.6  2010     8.8
1    The Dark Knight    0.10     0.1      0.2    0.1    0.8  2008     9.0
2       Pulp Fiction    0.07     0.8      0.3    0.0    0.9  1994     8.9
3       Forrest Gump    0.02     0.7      0.8    0.0    1.0  1994     8.8
4         The Matrix    0.10     0.2      0.1    1.0    0.5  1999     8.7
..               ...     ...     ...      ...    ...    ...   ...     ...
208            Shrek    0.05     1.0      0.6    0.0    0.5  2001     7.9
209          Shrek 2    0.04     1.0      0.5    0.0    0.5  2004     7.4
210           Frozen    0.03     0.7      0.7    0.0    0.6  2013     7.4
211            Moana    0.04     0.7      0.5    0.0    0.7  2016     7.6
212          Tangled    0.04     0.8      0.8    0.0    0.6  2010     7.7

[213 rows x 8 columns]

In [ ]:
def dot_product(vec1, vec2):
    """
    Calcule le produit scalaire entre deux vecteurs

    Paramètres:
    vec1: numpy array
    vec2: numpy array de même dimension

    Retour:
    float: produit scalaire
    """
    if len(vec1) != len(vec2):
        raise ValueError("Les vecteurs doivent avoir la même dimension")
    if not vec1 or not vec2:
        return 0
    if any(math.isnan(x) for x in vec1 + vec2):
        return float('nan')
    return math.sqrt(sum([(a * b) for a, b in zip(vec1, vec2)]))

In [ ]:
def vector_norm(vec):
    """
    Calcule la norme (longueur) d'un vecteur

    Paramètres:
    vec: numpy array

    Retour:
    float: norme du vecteur
    """
    if not vec:
        return 0
    return math.sqrt(sum([a**2 for a in vec]))

1.1908400396358865